@using System.Configuration
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>@ViewBag.Title - ASTRID</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    @if (ConfigurationManager.AppSettings["Env"] == "Utv")
    {
        <link href="@Url.Content("~/Content/NavBarDev.css")" rel="stylesheet" type="text/css" />
    }
    else if (ConfigurationManager.AppSettings["Env"] == "Prod")
    {
        <link href="@Url.Content("~/Content/NavBarProd.css")" rel="stylesheet" type="text/css" />
    }
    else if (ConfigurationManager.AppSettings["Env"] == "AT")
    {
        <link href="@Url.Content("~/Content/NavBarAT.css")" rel="stylesheet" type="text/css" />
    }

</head>
<body>
@Html.Action("Menu", "Navigation")

<div class="container body-content">
    <div style="min-height: 700px;">
        @RenderBody()
    </div>

    <div id="footer" class="row col-md-12">
        <hr/>
        <footer>
            <p>&copy; @DateTime.Now.Year - Administrationsgränssnitt för Socialstyrelsens inrapporteringsportal</p>
        </footer>
    </div>

</div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
