@using System.Configuration
@using InrappSos.AstridWeb.Models.ViewModels
@model InrappSos.AstridWeb.Models.ViewModels.LeveransViewModels.LeveransViewModel
@{
    ViewBag.Title = "Leverans";
}

<script type="text/javascript">
    var filkravsLista = @Html.Raw(Json.Encode(Model.Filkrav));

    $(document).ready(function () {
        //Dold kolumn för InsamlingsfrekvensId
        //Göm kolumnen med dropdown/Insamlingsfrekvens om ej edit-mode
        $('#filkravTable tr th:eq(0)').hide();
        $('#filkravTable tr th:eq(5)').hide();
        $("#filkravTable tbody tr").each(function (i, row) {
            $(row).find('td:eq(0)').hide();
            $(row).find('td:eq(5)').hide();
        });
        //filkravsLista.forEach(function (filkrav, index) {
        //    if (filkrav.InsamlingsfrekvensId != null) {
        //        $('#ddlInsamlingsfrekvens').val(filkrav.Insamlingsfrekvens);
        //    } else {
        //        $('#ddlInsamlingsfrekvens').val(0);
        //    }
        //});
    });

    $(function () {
        $("#txtRegkortnamn").focus();
    });

    $(function () {
        $('th a, tfoot a').click(function () {
            var newUrl = $(this).attr('href') +
                "&regId=" +
                $("#SelectedRegisterId").val();
            $('form').attr('action', newUrl).submit();
            return false;
        });
    });

    $(document).on('change','#ddlRegister',function() {
        $("#SelectedRegisterId").val($('#ddlRegister').val());
    });

    $(document).on('change', '#ddlInsamlingsfrekvens', function () {
        $("#SelectedInsamlingsfrekvensId").val($('#ddlInsamlingsfrekvens').val());
    });

    //$(document).on('change','#ddlInsamlingsfrekvens',function() {
    //    var tr = $(this).parents('tr:first');
    //    var filkravId = tr.find("#FilkravId").html();
    //    filkravsLista.forEach(function (filkrav, index) {
    //        if (filkrav.Id === parseInt(filkravId)) {
    //            filkrav.SelectedInsamlingsfrekvensId = ($('#ddlInsamlingsfrekvens').val());
    //        }
    //    });
    //    $("#SelectedInsamlingsfrekvensId").val($('#ddlInsamlingsfrekvens').val());
    //});



    $(function() {
        $('.edit-mode').hide();
        
        $('.cancel-user').on('click',
            function () {
                var tr = $(this).parents('tr:first');
                //Göm kolumnen med dropdown/Insamlingsfrekvens om ej edit-mode
                tr.find('td:eq(5)').hide();
                tr.find('td:eq(4)').show();
                tr.find('.edit-mode, .display-mode').toggle();
            });

        $('.edit-user').on('click',
            function () {
                var tr = $(this).parents('tr:first');
                //Visa kolumnen med dropdown/Insamlingsfrekvens om ej edit-mode
                tr.find('td:eq(5)').show();
                tr.find('td:eq(4)').hide();
                var currentId = tr.find("#InsamlingsfrekvensId").val();
                if (currentId !== "0") {
                    tr.find("#ddlInsamlingsfrekvens").val(currentId);
                } else {
                    tr.find("#ddlInsamlingsfrekvens").val("");
                }
                tr.find('.edit-mode, .display-mode').toggle();
            });
        $('.save-user').on('click',
            function() {
                var tr = $(this).parents('tr:first');
                var insamlingsfrekvensId = tr.find("#ddlInsamlingsfrekvens").val();
                var filkravId = tr.find("#FilkravId").html();
                var foreskriftsId = 0;
                filkravsLista.forEach(function(filkrav, index) {
                    if (filkrav.Id.toString() === filkravId) {
                        foreskriftsId = filkrav.ForeskriftsId;
                    }
                });
                var namn = tr.find("#Namn").val();
                var insamlingsfrekvens = tr.find("#Insamlingsfrekvens").val();
                var uppgiftsstartdag = tr.find("#Uppgiftsstartdag").val();
                var uppgiftslutdag = tr.find("#Uppgiftslutdag").val();
                var rapporteringsstartdag = tr.find("#Rapporteringsstartdag").val();
                var rapporteringsslutdag = tr.find("#Rapporteringsslutdag").val();
                var rapporteringSenastdag = tr.find("#RapporteringSenastdag").val();
                var paminnelse1dag = tr.find("#Paminnelse1dag").val();
                var paminnelse2dag = tr.find("#Paminnelse2dag").val();
                var paminnelse3dag = tr.find("#Paminnelse3dag").val();
                var rapporteringEfterAntalManader = tr.find("#RapporteringEfterAntalManader").val();
                var uppgifterAntalmanader = tr.find("#UppgifterAntalmanader").val();

                //Creating AdmFilkrav JSON object
                var admFilkrav = 
                {
                    "Id": filkravId,
                    "Namn": namn,
                    "Insamlingsfrekvens": insamlingsfrekvens,
                    "ForeskriftsId": foreskriftsId,
                    "Uppgiftsstartdag": uppgiftsstartdag,
                    "Uppgiftslutdag": uppgiftslutdag,
                    "Rapporteringsstartdag": rapporteringsstartdag,
                    "Rapporteringsslutdag": rapporteringsslutdag,
                    "RapporteringSenastdag": rapporteringSenastdag,
                    "Paminnelse1dag": paminnelse1dag,
                    "Paminnelse2dag": paminnelse2dag,
                    "Paminnelse3dag": paminnelse3dag,
                    "RapporteringEfterAntalManader": rapporteringEfterAntalManader,
                    "UppgifterAntalmanader": uppgifterAntalmanader,
                    "InsamlingsfrekvensId": insamlingsfrekvensId 
                };
                var x = admFilkrav;
                var regId = $("#SelectedRegisterId").val();
                //Posting AdmFilkrav object to controller's Update action method
                $.ajax({
                    url: '/Leverans/UpdateFilkrav',
                    data: JSON.stringify({
                        filkrav: admFilkrav,
                        regId: regId})
                    ,
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function(data) {
                        location.reload();
                        //$("#pageContainer").html(data);
                        //tr.find('.edit-mode, .display-mode').toggle();
                        //$('#footer').hide();
                        //alert('Record updated Successfully!!');
                    }
                });

            });

        $('.edit-user').on('click',
            function() {
                var tr = $(this).parents('tr:first');
                var namn = tr.find("#Namn").val();
                var insamlingsfrekvens = tr.find("#Insamlingsfrekvens").val();
                var uppgiftsstartdag = tr.find("#Uppgiftsstartdag").val();
                var uppgiftslutdag = tr.find("#Uppgiftslutdag").val();
                var rapporteringsstartdag = tr.find("#Rapporteringsstartdag").val();
                var rapporteringsslutdag = tr.find("#Rapporteringsslutdag").val();
                var rapporteringSenastdag = tr.find("#RapporteringSenastdag").val();
                var paminnelse1dag = tr.find("#Paminnelse1dag").val();
                var paminnelse2dag = tr.find("#Paminnelse2dag").val();
                var paminnelse3dag = tr.find("#Paminnelse3dag").val();
                var rapporteringEfterAntalManader = tr.find("#RapporteringEfterAntalManader").val();
                var uppgifterAntalmanader = tr.find("#UppgifterAntalmanader").val();

                tr.find("#lblNamn").text(namn);
                tr.find("#lblInsamlingsfrekvens").text(insamlingsfrekvens);
                tr.find("#lblUppgiftsstart").text(uppgiftsstartdag);
                tr.find("#lblUppgiftslutdag").text(uppgiftslutdag);
                tr.find("#lblRapporteringsstartdag").text(rapporteringsstartdag);
                tr.find("#lblRapporteringsslutdag").text(rapporteringsslutdag);
                tr.find("#lblRapporteringSenastdag").text(rapporteringSenastdag);
                tr.find("#lblPaminnelse1dag").text(paminnelse1dag);
                tr.find("#lblPaminnelse2dag").text(paminnelse2dag);
                tr.find("#lblPaminnelse3dag").text(paminnelse3dag);
                tr.find("#lblRapporteringEfterAntalManader").text(rapporteringEfterAntalManader);
                tr.find("#lblUppgifterAntalmanader").text(uppgifterAntalmanader);
            });
    });
</script>
<div id="pageContainer">
    <div class="row">
        <div class="col-md-8 padding-top-55">
            <h4>Administrera filkrav</h4>
            <br />
            <section id="orgForm">
            @using (Html.BeginForm("GetDirectorysFilerequirements", "Leverans", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.HiddenFor(m => m.SelectedRegisterId)
                <div class="row">
                    <div class="col-md-8 form-group" style="width: 225px !important; margin-left: 5px;">
                        @Html.DropDownListFor(m => m.SelectedRegisterId, ViewBag.RegisterList as SelectList, " - Välj Register -", new { id = "ddlRegister", @class = "form-control", style = "max-width:150px !important" })
                    </div>
                    <div class="col-md-8" style="padding-left: 0px; margin-left: -10px;"> 
                        <div><input type="submit" value="Visa" class="btn btn-default" /></div>
                    </div>
                </div>
            }
            </section>
        </div>
    </div>

    @if (Model != null)
    {

        @Html.ActionLink("Skapa nytt filkrav", "CreateFilkrav", "Leverans", new { selectedRegId = Model.SelectedRegisterId }, null)

    <div id="gridContent" style="font-family: Arial; padding: 0px;">
        @{
        ViewBag.Title = "Administrera filkrav";
        var grid = new WebGrid(source: Model.Filkrav, canPage: true, rowsPerPage: 15, ajaxUpdateContainerId: "filkravGrid");
        grid.Pager(WebGridPagerModes.All);
        }

        @grid.GetHtml(htmlAttributes: new { id = "filkravTable" },
                        tableStyle: "webgrid-table",
                        headerStyle: "webgrid-header",
                        footerStyle: "webgrid-footer",
                        alternatingRowStyle: "webgrid-alternating-row",
                        selectedRowStyle: "webgrid-selected-row",
                        rowStyle: "webgrid-row-style",
                        mode: WebGridPagerModes.All,
                        columns: grid.Columns(
                            grid.Column(null, null, format: @<text><input type="hidden" id="InsamlingsfrekvensId" value="@item.InsamlingsfrekvensId" class="edit-mode form-control hide" /></text>, style: "colZeroWidth"),
                            grid.Column("Id", format: @<text><span class="display-mode">@item.ID</span><label id="FilkravId" class="edit-mode colMinWidth">@item.Id</label></text>, style: "colMinWidth"),
                            grid.Column("DelregisterKortnamn", "Delregister", format: @<text><span class="display-mode">@item.DelregisterKortnamn</span>
                                        <label id="Delregister" class="edit-mode col1Width">@item.DelregisterKortnamn</label></text>, style: "col1Width"),
                            grid.Column("Namn", "Namn", format: @<text><span class="display-mode"><label id="lblNamn" style="width: 150px;">@item.Namn </label></span>
                                    <input type="text" id="Namn" value="@item.Namn" class="edit-mode form-control" style="width: 400px !important;" /></text>, style: "col5Width"),
                            grid.Column("Insamlingsfrekvens", "Insamlings- frekvens", format: @<text><span class="display-mode"><label id="lblInsamlingsfrekvens" style="width: 50px;">@item.Insamlingsfrekvens</label></span></text>, style: "colMinWidth"),
                            grid.Column("Insamlingsfrekvens", format: @item => Html.DropDownListFor(m => m.SelectedInsamlingsfrekvensId, ViewBag.InsamlingsfrekvensList as SelectList, " - Välj -", new { id = "ddlInsamlingsfrekvens", @class = "form-control edit-mode", style = "min-width:100px !important" })),
                            grid.Column("Uppgiftsstart", "Uppgifts- start", format: @<text><span class="display-mode"><label id="lblUppgiftsstart" style="width: 50px;">@item.Uppgiftsstartdag</label></span>
                                <input type="text" id="Uppgiftsstartdag" value="@item.Uppgiftsstartdag" class="edit-mode form-control" /></text>, style: "colMinWidth"),
                             grid.Column("Uppgiftsslut", "Uppgifts- slut", format: @<text><span class="display-mode"><label id="lblUppgiftsslut" style="width: 50px;">@item.Uppgiftslutdag</label></span>
                                <input type="text" id="Uppgiftslutdag" value="@item.Uppgiftslutdag" class="edit-mode form-control" /></text>, style: "colMinWidth"),
                                grid.Column("Rapporteringsstart", "Rapporterings- start", format: @<text>
                                <span class="display-mode">
                                    <label id="lblRapporteringsstart">@item.Rapporteringsstartdag</label>
                                </span>
                                <input type="text" id="Rapporteringsstartdag" value="@item.Rapporteringsstartdag" class="edit-mode form-control" />
                            </text>, style: "colMinWidth"),
                                        grid.Column("Rapporteringsslut", "Rapporterings- slut", format: @<text>
                                        <span class="display-mode">
                                            <label id="lblRapporteringsslut">@item.Rapporteringsslutdag</label>
                                        </span>
                                        <input type="text" id="Rapporteringsslutdag" value="@item.Rapporteringsslutdag" class="edit-mode form-control" />
                            </text>, style: "colMinWidth"),
                                grid.Column("Rapportering senast", "Rapportering senast", format: @<text>
                                <span class="display-mode">
                                    <label id="lblRapporteringsenast">@item.RapporteringSenastdag</label>
                                </span>
                                <input type="text" id="RapporteringSenastdag" value="@item.RapporteringSenastdag" class="edit-mode form-control" />
                            </text>, style: "colMinWidth"),

                                        grid.Column("Påminnelse 1", "Påminnelse 1", format: @<text>
                                        <span class="display-mode">
                                            <label id="lblPaminnelse1">@item.Paminnelse1dag</label>
                                                                </span>
                                <input type="text" id="Paminnelse1dag" value="@item.Paminnelse1dag" class="edit-mode form-control" />
                             </text>, style: "col2Width"),
                                    grid.Column("Påminnelse 2", "Påminnelse 2", format: @<text>
                                    <span class="display-mode">
                                        <label id="lblPaminnelse2">@item.Paminnelse2dag</label>
                                    </span>
                                    <input type="text" id="Paminnelse2dag" value="@item.Paminnelse2dag" class="edit-mode form-control" />
                            </text>, style: "col2Width"),
                                            grid.Column("Påminnelse 3", "Påminnelse 3", format: @<text>
                                            <span class="display-mode">
                                                <label id="lblPaminnelse3">@item.Paminnelse3dag</label>
                                            </span>
                                            <input type="text" id="Paminnelse3dag" value="@item.Paminnelse3dag" class="edit-mode form-control" />
                            </text>, style: "col2Width"),
                                                    grid.Column("Rapportering efter antal månader", "Rapportering efter antal månader", format: @<text>
                                                    <span class="display-mode">
                                                        <label id="lblRapporteringEfterAntalManader">@item.RapporteringEfterAntalManader </label>
                                                    </span>
                                                    <input type="text" id="RapporteringEfterAntalManader" value="@item.RapporteringEfterAntalManader" class="edit-mode form-control" />
                            </text>, style: "colMinWidth"),
                                        grid.Column("Uppgifter antal månader", "Uppgifter antal månader", format: @<text>
                                        <span class="display-mode">
                                            <label id="lblUppgifterAntalmanader" style="width: 50px;">@item.UppgifterAntalmanader </label>
                                        </span>
                                        <input type="text" id="UppgifterAntalmanader" value="@item.UppgifterAntalmanader" class="edit-mode form-control" />
                            </text>, style: "colMinWidth"),
                                grid.Column(null, format: @<text>
                                <button class="edit-user display-mode btn btn-default">Ändra</button>
                                <button class="save-user edit-mode btn btn-default">Spara</button>
                                <button class="cancel-user edit-mode btn btn-default">Avbryt</button>
                            </text>, style: "col3Width", canSort: false)))

</div>
    }
</div>
