@model InrappSos.AstridWeb.Models.ViewModels.OrganisationViewModels.OrganisationViewModel

<hr />

<h4>Kontaktpersoner</h4>

<table class="table table-small">
    <tr>
        <th>
            Namn
        </th>
        <th>
            E-postadress
        </th>
        <th>
            Kontaktnummer
        </th>
        <th>
            Mobilnummer verifierat
        </th>
        <th>
            Roller
        </th>
        <th>
            Skapad
        </th>
    </tr>

    @foreach (var item in Model.ContactPersons)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Namn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kontaktnummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StringOfRoles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkapadDatum)
            </td>
        </tr>

    }


</table>

