@using System.Collections
@using InrappSos.DomainModel
@model InrappSos.AstridWeb.Models.ViewModels.OrganisationViewModels.OrganisationViewModel

<h4>Sökresultat</h4>

@foreach (var item in Model.SearchResult)
{
    foreach (Organisation org in item as IEnumerable) //casting to IEnumerable will let you iterate
    {
        switch (Model.Origin)
        {
            case "index":
                @Html.ActionLink(org.Organisationsnamn, "GetOrganisation", "Organisation", new { selectedOrganisationId = org.Id}, new {@class = "btn"})<br/>
                break;
            case "contacts":
                @Html.ActionLink(org.Organisationsnamn, "GetOrganisationsContacts", "Organisation", new { selectedOrganisationId = org.Id}, new {@class = "btn"})<br/>
                break;
            case "orgunits":
                @Html.ActionLink(org.Organisationsnamn, "GetOrganisationsOrgUnits", "Organisation", new { selectedOrganisationId = org.Id}, new {@class = "btn"})<br/>
                break;
            case "reportobligation":
                @Html.ActionLink(org.Organisationsnamn, "GetOrganisationsReportObligations", "Organisation", new { selectedOrganisationId = org.Id}, new {@class = "btn"})<br/>
                break;
            case "unitreportobligation":
                @Html.ActionLink(org.Organisationsnamn, "GetOrganisationsUnitReportObligations", "Organisation", new { selectedOrganisationId = org.Id}, new {@class = "btn"})<br/>
                break;
            case "privateEmailAdresses":
                @Html.ActionLink(org.Organisationsnamn, "GetOrganisationsPrivateEmailAdresses", "Organisation", new { selectedOrganisationId = org.Id}, new {@class = "btn"})<br/>
                break;
            case "exceptionsExpectedFiles":
                @Html.ActionLink(org.Organisationsnamn, "GetOrganisationsExceptionsExpectedFiles", "Organisation", new { selectedOrganisationId = org.Id}, new {@class = "btn"})<br/>
                break;
            case "cases":
                @Html.ActionLink(org.Organisationsnamn, "GetOrganisationsCases", "Organisation", new { selectedOrganisationId = org.Id}, new {@class = "btn"})<br/>
                break;
            case "sftpAccounts":
                @Html.ActionLink(org.Organisationsnamn, "GetOrganisationsSFTPAccounts", "Organisation", new { selectedOrganisationId = org.Id}, new {@class = "btn"})<br/>
                break;
            case "caseOrganisations":
                @Html.ActionLink(org.Organisationsnamn, "GetOrganisation", "Organisation", new { selectedOrganisationId = org.Id}, new {@class = "btn"})<br/>
                break;
            default:
                break;;
        }
    }
}



