@model InrappSos.FilipWeb.Models.RegisterVerifyPhoneNumberViewModel
@{
    ViewBag.Title = "Bekräfta mobilnummer";
}

<script type="text/javascript">
    $(function () {
        $("#txtCode").focus();
    });
</script>

<div class="row padding-top-55">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm("VerifyPhoneNumber", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("phoneNumber", @Model.PhoneNumber)
    @Html.Hidden("id", @Model.Id)
    <h4>Ange verifieringskod</h4>
    <h5>@ViewBag.Status</h5>
    <hr />
    <p>En verifieringskod är skickad till ditt mobilnummer   @Html.Raw(Model.PhoneNumber). Verifieringskoden gäller i 5 minuter.</p>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Code, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Code, new { @class = "form-control", id = "txtCode" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Nästa" />
        </div>
    </div>
}
<br /><br />
@*<div class="col-md-2 control-label"> </div>*@
<div class="col-md-offset-2 col-md-10" style="padding-left:2px">
    <a href="@Url.Action("GetNewCode", "Account", new { phoneNumber = Model.PhoneNumber, id = Model.Id})" class="btn btn-default">
        Skicka ny verifieringskod
        <span class="glyphicon" aria-hidden="true"></span>
    </a>
</div>
<br /><br />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
