@model InrappSos.FilipWeb.Models.ViewModels.AboutViewModel
@using System.Configuration

@{
    if (Model.PortalClosed)
    {
        Layout = "~/Views/Shared/_LayoutClosed.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}


<script>
    $(document).ready(function () {
        $('.panel-heading').toggleClass('collapsed');
    });

    $('.closeall').click(function () {
        $('.panel-collapse.in')
            .collapse('hide');
    });
    $('.openall').click(function () {
        $('.panel-collapse:not(".in")')
            .collapse('show');
    });

</script>

@{
    ViewBag.Title = "Så här skickar du in registerfiler till Socialstyrelsen";
}
<div class="padding-top-55">
    <h3>@ViewBag.Message</h3>
</div>

@Html.Raw(ViewBag.Text)

<br />

@if (Model.FaqCategories != null)
{
    for (var i = 0; i < Model.FaqCategories.Count(); i++)
    {
        <div class="faqHeader" style="margin-left: -0px;font-size: 1.5em">@(Model.FaqCategories.ElementAt(i).Kategori)</div>
        <div class="panel-group" id=@(Model.FaqCategories.ElementAt(i).Kategori)>
            @for (var index = 0; index < Model.FaqCategories.ElementAt(i).AdmFAQ.Count(); index++)
            {
                <div class="panel panel-default">
                    <div class="panel-heading" id="fraga" data-toggle="collapse" data-parent=#@(Model.FaqCategories.ElementAt(i).Kategori) data-target=#@(Model.FaqCategories.ElementAt(i).AdmFAQ.ElementAt(index).Id)>
                        <h4 class="panel-title">
                            @(Model.FaqCategories.ElementAt(i).AdmFAQ.ElementAt(index).Fraga)
                        </h4>
                    </div>
                    <div id=@(Model.FaqCategories.ElementAt(i).AdmFAQ.ElementAt(index).Id) class="panel-collapse collapse">
                        <div class="panel-body">
                            @Html.Raw(Model.FaqCategories.ElementAt(i).AdmFAQ.ElementAt(index).Svar)
                        </div>
                    </div>
                </div>
            }
        </div>

    }
}

