@using InrappSos.AstridWeb.Models.ViewModels
@using System.Configuration

@model InrappSos.AstridWeb.Models.ViewModels.SystemViewModels.SystemViewModel
@{
    ViewBag.Title = "FAQ";
}




<script type="text/javascript">

    $(document).ready(function () {

        

        var modalConfirm = function test(callback) {

            $("#modal-btn-si").on("click", function () {
                callback(true);
                $("#mi-modal").modal('hide');
            });

            $("#modal-btn-no").on("click", function () {
                callback(false);
                $("#mi-modal").modal('hide');
            });
        };

        modalConfirm(function (confirm) {
            if (confirm) {
                var data = { 'faqCatId': $('#SelectedFAQCategory').val() };
                $.ajax({
                    url: '/System/DeleteFAQCategory',
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data),
                    success: function (data) {
                        //On ajax success do this
                        location.reload();
                        //$("#pageContainer").html(data);
                        //tr.find('.edit-mode, .display-mode').toggle();
                        //$('#footer').hide();
                    }
                });
            } else {
                //Do nothing
                //$("#result").html("NO CONFIRMADO");
            }
        });
    });

    $(function () {
        $("#txtKommunkod").focus();
    });

    function deleteFAQCategory(id, name) {
        $('#SelectedFAQCategory').val(id);
        $("#mi-modal").modal("show");
        $('#modal-body').html("Vill du verkligen ta bort ta bort hela FAQ-kategorin för " + name + " ?");
    }

    function showFAQs(catId) {
        //alert(catId);
        $('#SelectedFAQCategory').val(catId);
        //$('#SelectedFAQCategory').val(1);
        alert($('#SelectedFAQCategory').val());
        $('#FragorOchSvar').show();
    }

    $(function () {
        $('.edit-mode').hide();
        $('.edit-user, .cancel-user').on('click',
            function () {
                var tr = $(this).parents('tr:first');
                tr.find('.edit-mode, .display-mode').toggle();
            });
        $('.save-user').on('click',
            function () {
                var tr = $(this).parents('tr:first');
                var categoryId = tr.find("#FAQCatId").html();
                var category = tr.find("#FAQCategory").val();
                var sortering = tr.find("#Sortering").val();

                //Creating AdmFAQKategori JSON object
                var admCategory =
                    {
                        "Id": categoryId,
                        "Kategori": category,
                        "Sortering": sortering
                    };
                //Posting AdmFAQKategori object to controller's Update action method
                $.ajax({
                    url: '/System/UpdateFAQCategory',
                    data: JSON.stringify(admCategory),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {

                        //$('#pageContainer', $(data))
                        location.reload();
                        //console.log(data);

                        //$('#pageContainer').empty();
                        //var newData = $('#pageContainer', $(data));

                        //$('#pageContainer').html($('#pageContainer', $(data)).html());

                        ////$('#pageContainer').html(($('#pageContainer', $(data)).innerHTML));
                        ////$("#pageContainer").html(data);
                        //tr.find('.edit-mode, .display-mode').toggle();
                        //$('#footer').hide();
                        //alert('Record updated Successfully!!');
                    }
                });

            });

        $('.edit-user').on('click',
            function () {
                var tr = $(this).parents('tr:first');
                var categoryId = tr.find("#FAQCatId").html();
                var category = tr.find("#FAQCategory").val();
                var sortering = tr.find("#lblSortering").val();

                tr.find("#lblFAQCategory").text(category);
                tr.find("#lblSortering").text(sortering);
            });
    });


</script>



<div class="modal fade ui-widget-content" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body" id="modal-body">
                <p>

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="modal-btn-si">Ja</button>
                <button type="button" class="btn btn-default" id="modal-btn-no">Avbryt</button>
            </div>
        </div>
    </div>
</div>

<div id="pageContainer">
    <div class="row">
        <div class="col-md-8 padding-top-55">
            <h4>FAQ-kategorier</h4>
            <br />

            @if (Model != null)
            {
                @Html.HiddenFor(m => m.SelectedFAQCategory)
                @Html.ActionLink("Skapa ny FAQ-kategori", "CreateFAQCategory", "System")

                <div id="gridContent" style="font-family: Arial; padding: 20px;">
                    @{
                        ViewBag.Title = "FAQ-kategorier";
                        var grid = new WebGrid(source: Model.FAQCategories, canPage: true, rowsPerPage: 10, ajaxUpdateContainerId: "faqCatsGrid");
                        grid.Pager(WebGridPagerModes.All);
                    }


                    @grid.GetHtml(tableStyle: "webgrid-table",
                      headerStyle: "webgrid-header",
                      footerStyle: "webgrid-footer",
                      alternatingRowStyle: "webgrid-alternating-row",
                      selectedRowStyle: "webgrid-selected-row",
                      rowStyle: "webgrid-row-style",
                      mode: WebGridPagerModes.All,
                      columns: grid.Columns(
                         grid.Column("Id", format: @<text><span class="display-mode">@item.Id</span>
                        <label id="FAQCatId" class="edit-mode colMinWidth">@item.Id</label></text>, style: "colMinWidth"),

                        grid.Column("Sortering", "Sortering", format: @<text><span class="display-mode"><label id="lblSortering" style="width: 70px;">@item.Sortering</label></span>
                        <input type="text" id="Sortering" value="@item.Sortering" class="edit-mode form-control" /></text>, style: "colMinWidth"),
                        grid.Column("Kategori", "Kategori", format: @<text><span class="display-mode"><label id="lblFAQCategory" style="width: 200px;">@item.Kategori</label></span>
                        <input type="text" id="FAQCategory" value="@item.Kategori" class="edit-mode form-control" /></text>, style: "col2Width"),
                        grid.Column(null, format: @<text>
                            <button class="edit-user display-mode btn btn-default">Ändra</button>
                            <button class="display-mode btn btn-default" onclick="deleteFAQCategory(@item.Id, '@item.Kategori'); return false;">Ta bort</button>
                            <button class="save-user edit-mode btn btn-default">Spara</button>
                            <button class="cancel-user edit-mode btn btn-default">Avbryt</button>&nbsp;
                            @*<button class="btn btn-primary" onclick="showFAQs(@item.Id); return false;">@HttpUtility.HtmlDecode("Frågor och svar &raquo;")</button>*@
                            @Html.ActionLink(HttpUtility.HtmlDecode("Administrera faq-frågor &raquo;"), "GetFAQs", "System", new { faqCatId = item.Id, faqCatName = item.Kategori }, new { @class = "btn btn-primary" })
                        </text>, style: "col3Width", canSort: false)))
                </div>
            }
        </div>
    </div>
</div>






