@model InrappSos.AstridWeb.Models.ViewModels.SystemViewModels.SystemViewModel
<script src="~/Scripts/jquery-1.10.2.min.js"></script>


<script type="text/javascript">

    $(document).ready(function () {

        var modalConfirm = function test(callback) {
            $("#modal-btn-si").on("click", function () {
                callback(true);
                $("#mi-modal").modal('hide');
            });

            $("#modal-btn-no").on("click", function () {
                callback(false);
                $("#mi-modal").modal('hide');
            });
        };

        modalConfirm(function (confirm) {
            if (confirm) {
                //alert($('#SelectedFAQ').val());
                var data = { 'holidayId': $('#SelectedHolidayId').val() };
                $.ajax({
                    url: '/System/DeleteHoliday',
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data),
                    success: function (data) {
                        //On ajax success do this
                        $("#pageContainer").html(data);
                        tr.find('.edit-mode, .display-mode').toggle();
                        $('#footer').hide();
                    }
                });
            }
        });
    });

    function deleteHoliday(id, holiday) {
        $('#SelectedHolidayId').val(id);
        $("#mi-modal").modal("show");
        $('#modal-body').html("Vill du verkligen ta bort ta bort informationen för helgen " + holiday + " ?");
    }


    $(function () {
        $('.edit-mode').hide();
        $('.edit-user, .cancel-user').on('click', function () {
            var tr = $(this).parents('tr:first');
            tr.find('.edit-mode, .display-mode').toggle();
        });
        $('.save-user').on('click', function () {
            var tr = $(this).parents('tr:first');
            var holidayId = tr.find("#HolidayId").html();
            var holidayInfoTyp = tr.find("#lblInfoTyp").html();
            var holidayDate = tr.find("#HolidayDate").val();
            var holiday = tr.find("#Holiday").val();

            //Creating AdmHelgdag JSON object
            var admHelgdag =
            {
                "Id": holidayId,
                "Informationstyp": holidayInfoTyp,
                "Helgdatum": holidayDate,
                "Helgdag": holiday
            };
            //Posting AdmHelgdag object to controller's Update action method
            $.ajax({
                url: '/System/UpdateHoliday',
                data: JSON.stringify(admHelgdag),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    //location.reload();
                    $("#pageContainer").html(data);
                    tr.find('.edit-mode, .display-mode').toggle();
                    $('#footer').hide();
                    //alert('Record updated Successfully!!');
                }
            });

        });

    });
</script>



@{
    ViewBag.Title = "Heldagar";
}

<div class="modal fade ui-widget-content" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body" id="modal-body">
                <p>

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="modal-btn-si">Ja</button>
                <button type="button" class="btn btn-default" id="modal-btn-no">Avbryt</button>
            </div>
        </div>
    </div>
</div>

<div id="pageContainer" class="padding-top-55">

    <h4>Helgdagar</h4>
    <br />

    @if (Model != null)
    {
        @Html.HiddenFor(m => m.SelectedHolidayId)
        <div class="row">
            <div class="col-md-8">
                @Html.ActionLink("Lägg in ny helgdag", "CreateHoliday", "System")
            </div>
        </div>

        <div id="gridContent" style="font-family: Arial; padding: 20px;">

            @{
        ViewBag.Title = "Administrera helgdagar";
        var grid = new WebGrid(source: Model.Holidays, canPage: true, rowsPerPage: 10, ajaxUpdateContainerId: "holidaysGrid");
        grid.Pager(WebGridPagerModes.All);
            }

            @grid.GetHtml(htmlAttributes: new { id = "holidayTable" },
           tableStyle: "webgrid-table",
           headerStyle: "webgrid-header",
           footerStyle: "webgrid-footer",
           alternatingRowStyle: "webgrid-alternating-row",
           selectedRowStyle: "webgrid-selected-row",
           rowStyle: "webgrid-row-style",
           mode: WebGridPagerModes.All,
           columns: grid.Columns(
            grid.Column("ID", format: @<text><label id="HolidayId">@item.Id</label></text>, style: "colMinWidth"),
            grid.Column("Informationstyp", format: @<text><label id="lblInfoTyp">@item.Informationstyp</label></text>, style: "colMinWidth"),

            grid.Column("Helgdatum", "Helgdatum", format: @<text><span class="display-mode">
            <label id="lblHelgdatum">@( item.Helgdatum != null ? item.Helgdatum.ToString("yyyy-MM-dd") : item.Helgdatum)</label>
            </span>
            <input type="text" id="HolidayDate" value="@( item.Helgdatum != null ? item.Helgdatum.ToString("yyyy-MM-dd") : item.Helgdatum)" class="edit-mode form-control" /></text>, style: "col1Width"),

            grid.Column("Helgdag", "Helgdag", format: @<text><span class="display-mode"><label id="lblHelgdatum">@item.Helgdag</label></span>
            <input type="text" id="Holiday" value="@item.Helgdag" class="edit-mode form-control" /></text>, style: "col2Width"),
            grid.Column(null, format: @<text>
                <button class="edit-user display-mode btn btn-default">Ändra</button>
                <button class="display-mode btn btn-default" onclick="deleteHoliday(@item.Id,'@item.Helgdag');return false;">Ta bort</button>
                <button class="save-user edit-mode btn btn-default">Spara</button>
                <button class="cancel-user edit-mode btn btn-default">Avbryt</button>
            </text>, style: "col3Width", canSort: false)))
        </div>

    }
</div>

