@using InrappSos.AstridWeb.Models.ViewModels
@model InrappSos.AstridWeb.Models.ViewModels.SystemViewModels.SystemViewModel
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@*<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />*@


<script type="text/javascript">

    //var documentList = @Html.Raw(Json.Encode(Model.Mallar));

    $(document).ready(function () {

        var modalConfirm = function test(callback) {
            $("#modal-btn-si").on("click", function () {
                callback(true);
                $("#mi-modal").modal('hide');
            });

            $("#modal-btn-no").on("click", function () {
                callback(false);
                $("#mi-modal").modal('hide');
            });
        };

        modalConfirm(function (confirm) {
            if (confirm) {
                var data = { 'filename': $('#SelectedTemplateFile').val() };
                $.ajax({
                    url: '/System/DeleteTemplate',
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data),
                    success: function (data) {
                        location.reload();
                        //On ajax success do this
                        //$("#pageContainer").html(data);
                        //tr.find('.edit-mode, .display-mode').toggle();
                        //$('#footer').hide();
                    }
                });
            } else {
                //Do nothing
                //$("#result").html("NO CONFIRMADO");
            }
        });
    });

    function showTextarea(docId) {
        //$('#SelectedInfo').val(infoType);
        //alert($('#SelectedInfo').val());
        documentList.forEach(function (doc, index) {
            if (doc.Id === docId) {
                $('#SelectedDocId').val(doc.Id);
                $('#textArea').html(doc.Fil);
            }
        });
    }

    function deleteTemplate(name) {
        $('#SelectedTemplateFile').val(name);
        $("#mi-modal").modal("show");
        $('#modal-body').html("Vill du verkligen ta bort ta bort " + name + " ?");
    }

    //$(function () {
    //    var tr = $('#documentsTable').find('tr');
    //    tr.bind('click', function (event) {
    //        var d = $(this).find("#lblInfoTyp").html();
    //        showTextarea($(this).find("#lblInfoTyp").html());
    //    });
    //});



    //$('.edit-user').on('click', function () {
    //    var tr = $(this).parents('tr:first');
    //    var infoId = tr.find("#InfoId").html();
    //    var informationsTyp = tr.find("#InfoTyp").val();

    //    tr.find("#lblInfoTyp").text(informationsTyp);
    //});
</script>



@{
    ViewBag.Title = "Index";
}


<div id="pageContainer">
    <div class="row">
        <div class="col-md-8 padding-top-55">
            <h4>Administrera mallar</h4>
        </div>
    </div>
    
    <div class="modal fade ui-widget-content" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body" id="modal-body">
                    <p>

                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="modal-btn-si">Ja</button>
                    <button type="button" class="btn btn-default" id="modal-btn-no">Avbryt</button>
                </div>
            </div>
        </div>
    </div>

    @if (Model != null)
    {
        @Html.HiddenFor(x => Model.SelectedTemplateFile)
        <hr />

        @Html.ActionLink("Lägg till ny mall", "AddTemplateDocument", "System")
        <br/><br/>

             <div id="gridContent" style="font-family: Arial; padding: 0px;">
                 @{
                     ViewBag.Title = "Administrera mallar";
                     var grid = new WebGrid(source: Model.Mallar, canPage: true, rowsPerPage: 10, ajaxUpdateContainerId: "mallarGrid");
                     grid.Pager(WebGridPagerModes.All);
                 }

                 @grid.GetHtml(htmlAttributes: new { id = "documentsTable" },
                                 tableStyle: "webgrid-table700",
                                 headerStyle: "webgrid-header",
                                 footerStyle: "webgrid-footer",
                                 alternatingRowStyle: "webgrid-alternating-row",
                                 selectedRowStyle: "webgrid-selected-row",
                                 rowStyle: "webgrid-row-style",
                                 mode: WebGridPagerModes.All,
                                 columns: grid.Columns(
                                    grid.Column("Filnamn", format: @<text><label id="lblFileName">@item.Filename</label></text>, style: "col5Width"),
                                    grid.Column("Senast ändrad", format: @<text><label id="lblEditDate">@item.LastWriteTime</label></text>, style: "col2Width"),
                                    grid.Column("Storlek (bytes)", format: @<text><label id="lblSize">@item.Length</label></text>, style: "col2Width"),
                                    grid.Column(null, format: @<text>
                                        <button class="display-mode btn btn-default" onclick="deleteTemplate('@item.Filename');return false;">Ta bort</button>
                                        @*<button class="cancel-user edit-mode btn btn-default">Avbryt</button>*@
                                    </text>, style: "col2Width", canSort: false)))
             </div>
        <br/><br/>
        @*<div id="editInfoText">
            @using (Html.BeginForm("UpdateInfoText", "System", FormMethod.Post, new { id = "infoTextForm" }))
            {
                @Html.HiddenFor(x => Model.SelectedDocumentId)
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                            @Html.Label("Dokumentinnehåll: ", new { @class = "control-label" })
                            @Html.TextAreaFor(m => Model.SelectedInfoText, 10, 100, new { @class = "form-control", id = "textArea", style = "max-width:95% !important;" })
                        </div>
                    </div>
                </div>
            }
        </div>*@
    }


    @*@Html.Partial("_EditText", Model)*@
</div>

<br /><br />

