@model InrappSos.AstridWeb.Models.ViewModels.AdminViewModels.ArendeStatusViewModel

@{
    ViewBag.Title = "Skapa ärendestatus";
}

<div class="form-horizontal padding-top-55">
    <h2>Skapa ärendestatus</h2>
    <hr />
</div>



@using (Html.BeginForm("CreateCaseStatus", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Namn", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArendeStatusNamn, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ArendeStatusNamn, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Spara" class="btn btn-default" />
            </div>
        </div>
    </div>
    <div>
        @Html.ActionLink("Tillbaka", "GetCaseStatuses", "Admin")

    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
