@model InrappSos.AstridWeb.Models.ViewModels.AdminViewModels.AdminRoleViewModel
@{
    ViewBag.Title = "View";
}

<script type="text/javascript">

</script>

<div class="col-md-8 padding-top-55">
    <h4>@Html.Raw(ViewBag.Text)</h4>
    <br />
    @Html.ActionLink("Tillbaka", "CRUDRoles")
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Role.Id)
        @Html.HiddenFor(model => model.SelectedApplication)

        <div class="form-group">
            @Html.Label("Rollnamn", new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Role.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Role.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <br /><br />

            <input type="submit" value="Spara" class="btn btn-default" style="margin-right: 15px; margin-left: -15px;" />
        }
    </div>
