@model InrappSos.AstridWeb.Models.ViewModels.RegisterViewModels.AdmForeskriftViewModel

<script>
    $(function () {
        //alert("Dirid: " + $('#SelectedDirectoryId').val());
        //$("#SelectedDirectoryId").val($('#ddlRegister').val());
        //$("#txtRegisterId").focus();
        //alert("Dirid2: " + $('#SelectedDirectoryId').val());
    });

    //$(document).on('change', '#ddlRegister', function () {
    //    $("#SelectedDirectoryId").val($('#ddlRegister').val());
    //});
</script>


@using (Html.BeginForm("UpdateRegulation", "Register", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.SelectedDirectoryIdInUpdate)
    @Html.HiddenFor(m => m.SelectedForeskrift.RegisterId)
    @Html.HiddenFor(m => m.SelectedForeskrift.Id)

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.Label("Register", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10" style="margin-bottom: 15px !important">
            @Html.EditorFor(model => model.RegisterShortName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", style = "max-width:150px !important" } })
            @Html.ValidationMessageFor(model => model.RegisterShortName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Författningsnummer", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10" style="margin-bottom: 15px !important">
            @Html.EditorFor(model => model.SelectedForeskrift.Forfattningsnr, new { htmlAttributes = new { @class = "form-control", style = "max-width:150px !important" } })
            @Html.ValidationMessageFor(model => model.SelectedForeskrift.Forfattningsnr, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Giltig from", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10" style="margin-bottom: 15px !important">
            @Html.EditorFor(model => model.SelectedForeskrift.GiltigFrom, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SelectedForeskrift.GiltigFrom, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Giltig tom", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10" style="margin-bottom: 15px !important">
            @Html.EditorFor(model => model.SelectedForeskrift.GiltigTom, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SelectedForeskrift.GiltigTom, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Beslutsdatum", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10" style="margin-bottom: 15px !important">
            @Html.EditorFor(model => model.SelectedForeskrift.Beslutsdatum, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SelectedForeskrift.Beslutsdatum, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Författningsnamn", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10" style="margin-bottom: 15px !important">
            @Html.TextAreaFor(model => model.SelectedForeskrift.Forfattningsnamn, 10, 100, new { @class = "form-control", id = "textArea", style = "max-width:95% !important;" })
            @Html.ValidationMessageFor(model => model.SelectedForeskrift.Forfattningsnamn, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Spara" class="btn btn-default" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
