@model InrappSos.AstridWeb.Models.ViewModels.RegisterViewModels.AdmDelregisterViewModel

@{
    ViewBag.Title = "Skapa nytt delregister";
}

<script>

    //$(document).ready(function () {
    //    alert("Orgid: " + $('#Organisationsid').val());
    //});
</script>

    @using (Html.BeginForm("CreateSubDirectory", "Register", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.RegisterId)
        @Html.HiddenFor(m => m.RegisterShortName)

        <div class="form-horizontal padding-top-55">
            <h4>Skapa delregister</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.RegisterShortName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.RegisterShortName, htmlAttributes: new { @class = "form-control", disabled = "disabled" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Delregisternamn, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Delregisternamn, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Delregisternamn, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Beskrivning, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Beskrivning, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Beskrivning, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Kortnamn, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Kortnamn, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Kortnamn, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Slussmapp, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => Model.Slussmapp, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Slussmapp, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Inrapporteringsportal, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => Model.Inrapporteringsportal, new { htmlAttributes = new { @class = "checkbox" } })
                    @Html.ValidationMessageFor(model => model.Inrapporteringsportal, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Spara" class="btn btn-default" />
                </div>
            </div>
        </div>
        <div>
            @Html.ActionLink("Tillbaka", "GetSubDirectoriesForDirectory", "Register", new { regShortName = Model.RegisterShortName }, null)

        </div>
    }



    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
