@model InrappSos.AstridWeb.Models.ViewModels.RegisterViewModels.AdmRegisterViewModel

@{
    ViewBag.Title = "Skapa nytt register";
}


    @using (Html.BeginForm("CreateDirectory", "Register", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal padding-top-55">
            <h4>Skapa register</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Registernamn, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Registernamn, htmlAttributes: new { @class = "form-control"})
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.Kortnamn, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Kortnamn, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Kortnamn, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Beskrivning, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Beskrivning, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Beskrivning, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.InrappSos, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.InrappSos, new { htmlAttributes = new { @class = "checkbox" } })
                    @Html.ValidationMessageFor(model => model.InrappSos, "", new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Spara" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Tillbaka", "Index", "Register")

    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
